- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: <USERNAME>-nginx-deployment
    namespace: students-dev
  spec:
    replicas: 2
    selector:
      matchLabels:
        app: nginx
    template:
      metadata:
        labels:
          app: nginx
      spec:
        containers:
          - image: 'nginx:1.7.9'
            name: nginx
            ports:
              - containerPort: 80
